html{
}

body {
    font-family: 'Verdana', sans-serif;
}

.mainContent{
    width:80%;
    margin: 50px 25px;
    margin-left: auto;
    margin-right:auto;
}

a {

}

a:hover {

}

#Mpage{
    min-height: 800px;
}


#news > article > h4{
    padding-bottom: 0px;
}

#news > article {
    margin-bottom: 0px;
}

#languages{
    text-align: right;
}

.flag{
    width:20px;
    transition:0.5s;
}

.flag:hover{
    transition:0.5s;
    width:30px;
    cursor:pointer;
}

img{
    margin-left:1px;
    max-width:100%;
    max-height: 300px;
    height: auto;
}

.Logo{
    border-radius:20px;
}

#content{
    text-align: left;
    background-color: white!important;
}

header-image{
    width:auto;
    max-width: 400px;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    border-top-left-radius: 0px;
    width:100%;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

#wrapper, #prev, #next {
    height: 170px;
}
#wrapper {
    margin-top: 20px;
    margin-bottom:40px;
    width: 100%;
    border:none;
}
#carousel img {
    margin: 10px 5px;
    border: none;
    display: block;
    float: left;
    border-radius:5px;
}
#prev, #next {
    width: 5%;
}

#prev {
    left: 0;
    text-align:right;
    line-height: 150px;
}
#next {
    right: 0;
    text-align:left;
    line-height: 150px;
}

#news{
    margin-top: 12px;
    background-color: white!important;
}

.headline-large{
 font-family: times, Times New Roman, times-roman, georgia, serif;
 color: #444;
 margin: 0;
 padding: 0px 0px 6px 0px;
 font-size: 51px;
 line-height: 44px;
 letter-spacing: -2px;
 font-weight: bold;
}

.headline-small{
 font-family: Gill Sans, Verdana;
 font-size: 11px;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
}